BODY
{
    FONT: x-small Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
H1
{
    FONT-WEIGHT: bold;
    COLOR: #000000;
    FONT-FAMILY: verdana, Arial, Helvetica, sans-serif
    FONT-SIZE: 145%;
    MARGIN-BOTTOM: 0.5em
}
H2
{
    FONT-WEIGHT: bold;
    COLOR: #000000;
    FONT-FAMILY: verdana, Arial, Helvetica, sans-serif
    MARGIN-TOP: 1.5em;
    FONT-SIZE: 125%;
    MARGIN-BOTTOM: 0.5em
}
H3
{
    FONT-WEIGHT: bold;
    COLOR: #000000;
    FONT-FAMILY: verdana, Arial, Helvetica, sans-serif
    MARGIN-TOP: 1.2em;
    FONT-SIZE: 115%;
    MARGIN-BOTTOM: 0.5em
}
H4
{
    FONT-WEIGHT: bold;
    COLOR: #000000;
    FONT-FAMILY: verdana, Arial, Helvetica, sans-serif
    MARGIN-TOP: 1.2em;
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 0.5em
}

P
{
    FONT: x-small Verdana, Arial, Helvetica, sans-serif;
    COLOR: #000000
}
CODE
{
    FONT: 100% "Courier New", Courier, mono
}
TD
{
    FONT-SIZE: x-small
}
A:link
{
    COLOR: #0000ff
}
A:visited
{
    COLOR: #660066
}
A:hover
{
    COLOR: #ff9900
}
.label
{
    FONT-WEIGHT: bold
}
.mini
{
    FONT-SIZE: smaller
}
LI
{
    MARGIN-TOP: 0.75em;
    MARGIN-BOTTOM: 0.75em
}
UL
{
    LIST-STYLE-TYPE: disc
}
UL UL
{
    MARGIN-TOP: 1em;
    MARGIN-BOTTOM: 1em
}
OL OL
{
    MARGIN-TOP: 1em;
    MARGIN-BOTTOM: 1em
}
OL UL
{
    MARGIN-TOP: 1em;
    MARGIN-BOTTOM: 1em
}
UL OL
{
    MARGIN-TOP: 1em;
    MARGIN-BOTTOM: 1em
}
LI P
{
    MARGIN-TOP: 0.5em;
    MARGIN-BOTTOM: 0.5em
}
SUP
{
    FONT-SIZE: smaller;
    TEXT-DECORATION: none
}
